
.tittle h1{
	margin: 30px 20px;
}
.member{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

}
.button-typeA{
	margin: 0 20px;
}
.member img{
	position: absolute;
	bottom: 10px;
	/*width: 90%;*/
}

.member h3,
.member small,
.member p{
	padding: 0 10px;
}
.member small{
	color: black;
}
.member p{
	height: 100px;
	
}
#member-cards{
	padding: 20px 40px;
}

.card-box{
	position: relative;
	height: 450px;
	/*border: 1px solid gray;*/
	border-radius: 14px;
	margin: 1px;
	box-shadow: 8px 6px 8px 1px #DFDFDF;
}

/* ホバー時にカードを傾ける */
.member:hover{
	transform: rotate(.4deg);
	border-radius: 14px;
	text-decoration: none;

}
/*.member:hover h3{
	color: #F88674;
}*/
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/* .button-typeB{
	float: ;
} */
.button-typeB a {
    margin: 10px;
    color: white;
    border: solid 1px rgba(0 0 0 0);
    border-radius: 17px;
    padding: 10px 20px;
    background-color: #58A9EF;
    line-height: 70px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.button-typeB a:hover {
    text-decoration: none;
    color: white;
    background-color: #FF6346;
}

/*全体*/
.hidden_box {
	padding: 0;
	overflow: visible;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 5px;
    border: solid 0.3px gray;
    cursor :pointer;
    font-size: 8px;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
    
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    
}






@media screen and (max-width: 1199px){
	.member img{
		position: static;
		width: 30%;
		height: auto;
	}
	.member{
		height: 100%;
	}
	.member p{
		height: auto;
	}

	.card-box{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		height: auto;
		padding: 10px;
	}
}
@media screen and (max-width: 768px){
	.member p{
		display: none;
	}
	.text{
		font-size: 80%;
	}
	.text h3{
		line-height: 20px;
		margin: 0;
	}
}
@media screen and (max-width: 425px){
	.text{
		font-size: 60%;
	}
	.text small{
		display: none;
	}
}









