.home-c-col-cards/*,
#home-d-col-cards,
#home-e-col-cards*/{
	text-align: center;
}
#home-e-col-cards{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}